body,
div,
span,
p,
ul,
li,
a,
img,
input,
strong,
em,
ins,
del,
h1,
h2,
h3,
h4,
i {
  margin: 0;
  padding: 0;
  /* 将标签转换成内减模型的盒子 */
  box-sizing: border-box;
}
img {
  vertical-align: middle;
  border: none;
}
input {
  border: none;
  outline: none;
}
a {
  text-decoration: none;
  color: #000;
}
i {
  font-style: normal;
}
li {
  list-style: none;
}
body {
  font-size: 12px;
  line-height: 1;
  background-color: #fff;
}
.clearfix::after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}
.clearfix {
  *zoom: 1;
}
